# Node.js dependencies
node_modules/
cloudos-backend/node_modules/
cloudos-frontend/node_modules/

# Logs & Databases
*.log
cloudos-backend/*.db
cloudos-backend/*.db-shm
cloudos-backend/*.db-wal

# Environment & Build artifacts
.env
dist/
build/
.DS_Store