# Dependências
node_modules/
cloudos-frontend/node_modules/

# Builds
cloudos-frontend/dist/

# Variáveis de ambiente
.env
.env.local

# Database SQLite
cloudos-backend/database/*.sqlite
cloudos-backend/database/*.sqlite-journal

# Payloads Gerados (NÃO DEVEM IR PARA O GIT)
cloudos-backend/public/payloads/*
!cloudos-backend/public/payloads/.gitkeep

# Logs
*.log